<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard Viewer</title>
    <link rel="stylesheet" th:href="@{/css/dashboard-viewer.css}">
    <style>
        nav ul {
            list-style-type: none;
            padding: 0;
        }
        nav li {
            margin: 10px 0;
        }
    </style>
</head>
<body>
<h1>Bienvenido, Viewer</h1>
<nav>
    <ul>
        <!-- Opciones para Viewer -->
        <li>
            <a th:href="@{/transmisiones}">Ver Transmisiones en Vivo</a>
        </li>
        <li>
            <a th:href="@{/viewer/videos-publicos}">Ver Videos Públicos</a>
        </li>

        <!-- Opción común para cerrar sesión -->
        <li>
            <a th:href="@{/logout}">Cerrar Sesión</a>
        </li>
    </ul>
</nav>
</body>
</html>


